In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
import warnings 
warnings.filterwarnings("ignore")

In [3]:
dataset = pd.read_csv("MELBOURNE_HOUSE_PRICES_LESS.csv")
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/4/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/4/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/4/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/4/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/4/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [4]:
dataset.nunique()

Suburb             380
Address          57754
Rooms               14
Type                 3
Price             3417
Method               9
SellerG            476
Date               112
Postcode           225
Regionname           8
Propertycount      368
Distance           180
CouncilArea         34
dtype: int64

In [5]:
dataset.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Postcode', 'Regionname', 'Propertycount', 'Distance',
       'CouncilArea'],
      dtype='object')

In [6]:
dataset.drop(["Address","Date","Postcode"],axis="columns",inplace=True)

In [7]:
dataset.shape

(63023, 10)

In [8]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price            14590
Method               0
SellerG              0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
dtype: int64

In [9]:
dataset.dropna(inplace=True)
dataset.isna().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
dtype: int64

In [10]:
dataset.shape

(48433, 10)

In [11]:
dataset.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,3,h,1490000.0,S,Jellis,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,3,h,1220000.0,S,Marshall,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,3,h,1420000.0,S,Nelson,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,3,h,1515000.0,S,Barry,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,2,h,670000.0,S,Nelson,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [12]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset.head()

,Rooms,Price,Propertycount,Distance,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,Suburb_Albert Park,Suburb_Albion,Suburb_Alphington,...,CouncilArea_Moreland City Council,CouncilArea_Murrindindi Shire Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
0,3,1490000.0,4019,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,3,1220000.0,4019,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,1420000.0,4019,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,1515000.0,1543,7.5,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,670000.0,3464,10.4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
dataset.shape

(48433, 840)

In [14]:
X = dataset.drop("Price",axis="columns")
y = dataset.Price

In [15]:
X.head()

,Rooms,Propertycount,Distance,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,Suburb_Albert Park,Suburb_Albion,Suburb_Alphington,Suburb_Altona,...,CouncilArea_Moreland City Council,CouncilArea_Murrindindi Shire Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
0,3,4019,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,3,4019,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,4019,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,1543,7.5,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,3464,10.4,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
y.head()

0    1490000.0
1    1220000.0
2    1420000.0
3    1515000.0
4     670000.0
Name: Price, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y = train_test_split(X,y,test_size=0.3,random_state=2)

In [18]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_X,train_y)

In [19]:
reg.score(test_X,test_y)

0.6604739391787564

In [20]:
reg.score(train_X,train_y)

0.660013083756118

In [21]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=50,max_iter=100,tol=0.1)
lasso_reg.fit(train_X,train_y)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [22]:
lasso_reg.score(test_X,test_y)

0.6615824233343732

In [23]:
lasso_reg.score(train_X,train_y)

0.6554328357736653

In [24]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=50,max_iter=100,tol=0.1)
ridge_reg.fit(train_X,train_y)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [25]:
ridge_reg.score(test_X,test_y)

0.6573232856316467

In [26]:
ridge_reg.score(train_X,train_y)

0.6471379169766674

In [ ]:
# refer ridge and lasso codes of 0 no. from index again